<!DOCTYPE html>
<html>
<head>
  <title>Listening StewardshipAI Page</title>
</head>
<body>
  <h1>Channel Name: {{channel_name}}</h1>
  <p>Query_ID = {{query_id}}</p>
  <button onclick="start()">Start Listening</button>  <!-- button is here for illustration, should call start on window load-->
<p id="error"> </p>
<p id="answer"> Answer: </p>


<script src="{{base_url}}/static/js/galenSDK.min.js"> </script>

<script> 
   
    function start() {
        // this comes from the galenAI server
        var channelName = "{{ channel_name }}" 
        var queryID = "{{ query_id }}"
       
        // connect to the channel and listen to events. This must be done first, before calling the ReadyTOListen function
        galenConnect(channelName, queryID, function(channel) {

        // start of stream
        channel.bind('start', function(data) {
            console.log("started stream..");
            //set up your DOM for receiving the data
        });

        // answer
        channel.bind("answer", function (data) {
            document.getElementById("answer").innerHTML += data.text;
        });

        // end
        channel.bind("end", function (data) {
        console.log("ended stream..");
        // do something when the stream ends
            });
        });
        
        
        
        // Call the ready to listen.
        // note - this function, must be called after the channel is connected.
        // only call when you are ready to receive events
        galenReadyToListen(channelName, queryID);
      

    }     
        
</script>
