<!DOCTYPE html>
<html>
<head>
  <title>Listening Drug Interactions  Page</title>
</head>
<body>
  <h1>Channel Name: {{channel_name}}</h1>
  <p>Query_ID = {{query_id}}</p>
  <button onclick="start()">Start Listening</button>  <!-- button is here for illustration, should call start on window load-->
<p id="error"> </p>
<p id="answer"> Answer: </p>
<p id="references"> References <br>  </p>


<script src="{{base_url}}/static/js/galenSDK.min.js"> </script>

<script> 
    function start() {
        // this comes from the galenAI server
        var channelName = "{{ channel_name }}" 
        var queryID = "{{ query_id }}"
       
        // connect to the channel and listen to events. This must be done first, before calling the ReadyTOListen function
        galenConnect(channelName, queryID).then(function(channel){

        // start of stream
        channel.bind('start', function(data) {
            console.log("started stream..");
            //set up your DOM for receiving the data
        });

        // answer 
        channel.bind("answer", function (data) {
            // add the answer to the div
            // you will get an answer event if there are no interactions
            document.getElementById("answer").innerHTML += data.text;
        });

        // for each interaction, you will get 
        // new interaction event (for each new interaction)
        // drug_pair event (for each interacting drug pair)
        // description event (for description of the interaction)
        // recommendation event
        // reference event

   
        channel.bind("new_interaction", function (data) {
                let id = data.id;
           // make a new div for each new interaction that has drug pair, description, recommendation, references
                document.getElementById("answer").innerHTML += `<div id=${id}-drug-pair> "</div>`;
                document.getElementById("answer").innerHTML += `<div id=${id}-severity> "</div>`;
                document.getElementById("answer").innerHTML += `<div id=${id}-recommendation> "</div>`;
                document.getElementById("answer").innerHTML += `<div id=${id}-management> "</div>`;
                document.getElementById("answer").innerHTML += `<div id=${id}-description> "</div>`;
                document.getElementById("answer").innerHTML += `<div id=${id}-references> "</div>`;
            
        });

        channel.bind("drug_pair", function (data) {
            // add the drug pair to the div
    
            document.getElementById(`${data.id}-drug-pair`).innerHTML += data.text;
        });

        channel.bind("severity", function (data) {
            // add the severity to the div
            document.getElementById(`${data.id}-severity`).innerHTML += data.text;
        });
        
        channel.bind("recommendation", function (data) {
            // add the recommendation to the div
            document.getElementById(`${data.id}-recommendation`).innerHTML += data.text;
        });

        channel.bind("management", function (data) {
            // add the management to the div
            document.getElementById(`${data.id}-management`).innerHTML += data.text;
        });

        channel.bind("description", function (data) {
            // add the description to the div
            document.getElementById(`${data.id}-description`).innerHTML += data.text;
        });

        

        channel.bind("references", function (data) {
            // make a div for title, doi, url, abstract inside references 
            document.getElementById(`${data.id}-references`).innerHTML += "<div> title:" + data.title + "</div>";
            if (data.doi != null) {
            document.getElementById(`${data.id}-references`).innerHTML += "<div> doi:" + data.doi + "</div>";
            document.getElementById(`${data.id}-references`).innerHTML += "<div> url:" + data.url + "</div>";
            document.getElementById(`${data.id}-references`).innerHTML += "<div> abstract:" + data.abstract + "</div>";
                }   
            });

        // end
        channel.bind("end", function (data) {
        channel.unbind(); //unbind the channel when you are done listening 
        console.log("ended stream..");
        // do something when the stream ends
            });
        }).catch(function(error){
            // handle error
         console.log(error);   
        });
        
        
        
        // Call the ready to listen.
        // note - this function, must be called after the channel is connected.
        // only call when you are ready to receive events
        galenReadyToListen(channelName, queryID);
      

    }     
        
</script>
